html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

img {
    float: left;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.crop {
    height: 300px;
    width: 400px;
    overflow: hidden;
}

    .crop img {
        height: auto;
        width: 400px;
    }

.coin {
    height: 100px;
    width: 100px;
    overflow: hidden;
}

    .coin img {
        height: auto;
        width: 100px;
    }